<div class="row">
  <div class="small-12 medium-2 columns" id="menuPos">
    <nav id="menuGral">
      <ul class="menu vertical dropdown upper" id="ul_0">
        <!-- <li><img src="../images/sah.png?version=99" id="imgLogo" ></li> -->
        <li>
          <a [routerLink]="['/']"><img src="assets/images/sah.png" id="imgLogo"></a>
        </li>
        <!-- <li><a onclick="document.getElementById('hrMostrarCatalogo').click();">Cat&#225;logo</a></li> -->

        <li>
          <div class="contUser">
            <img src="assets/images/usuario/sinfoto.png" class="imgCircle imgResponsive imgUser">
          </div>
          COMANDO SOFTWARE - PRINCIPAL
        </li>
        <li id="li_4">
          <a [routerLink]="['/area']" class="btnMenu bMenu">área</a>
        </li>
        <li id="li_5">
          <a [routerLink]="['/articulo']" class="btnMenu bMenu">árticulo</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="small-12 medium-10 columns" id="ifAplicacion">
    <!-- <img src="../images/background/timbre.jpg" id="imgAplicacion" alt=""> -->
  </div>


  <!-- Central -->
  <router-outlet></router-outlet>


</div>