body {
  overflow-y: hidden;
}

a {
    color: #303F9F;
  /*color: #BB007F;*/
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
}

a:hover, a:focus {
  color: #bb3b87;
}

li {
  font-size: 1em;
}

li > a {
  color: #303F9F;
  /*color: #BB007F;*/
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'],
[type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 1.8rem;
    padding: 0.3rem;
    border: 1px solid #cacaca;
    margin: 0 0 0.2rem;
    font-family: robotoregular, sans-serif;
    font-size: 0.9rem;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 6px;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: testfield;
}

select {
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    margin: 0 0 0.2rem;
    font-size: 0.9rem;
    font-family: robotoregular, sans-serif;
    line-height: normal;
    color: #0a0a0a;
    background-color: #fefefe;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 138, 138%29"></polygon></svg>');
    background-size: 9px 6px;
    background-position: right center;
    background-origin: content-box;
    background-repeat: no-repeat;
}

header > div {
  font-family: robotoblack, sans-serif;
  text-align: center;
}

h5 {
  font-size: 1.8rem;
  font-family: robotomedium, sans-serif;
}

div .rowCampo:nth-child(even) {
  background-color: #BFBFBF;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a.disabled {
   pointer-events: none;
   cursor: default;
   opacity: 0.3;
}

.titleAplication {
    color: #5e5e5e;
    font-family: 'robotobold';
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
}

.inputBigLetter {
  font-size: 1.4rem;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.selectResult {
  height: 12rem;
  width: initial;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 0.2rem;
  font-size: 0.7rem;
  font-family: robotoregular, sans-serif;
  line-height: normal;
  color: #0a0a0a;
  background-color: #fefefe;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  /*background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 138, 138%29"></polygon></svg>');*/
  background-size: 9px 6px;
  background-position: right center;
  background-origin: content-box;
  background-repeat: no-repeat;
  position: relative;;
  float: left;
  overflow-y: auto;
}

.rowMenu {
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
}

.rowCampo {
  padding: 0.15rem 0;
  cursor: pointer;
}

/*.divNavLeft {
  margin: 11px -20px 0 0;
  display: table-column;
  vertical-align: middle;
  font-size: 1.5rem;
}

.divNavRight {
  margin: 11px 0;
  display: table-column;
  vertical-align: middle;
  font-size: 1.5rem;
}*/

.divButtonSmall {
  margin: 1px;
}

.divTitulo {
  background-color: #003366;
  /*background-color: #BB007F;*/
}

.divTotal {
  background-color: #CACACA;
}

.divPaginadorPagina {
  padding: 0.3rem;
}

.input-search {
	border: none;
	background: transparent;
	padding: 0 10px;
	height: 25px;
}

.div-input-search {
	padding: 0;
}

.input-search:focus {
	border: transparent;
	background: transparent;
	padding: 0 10px;
}

.a-search {
	margin-top: 4px;
	text-align: right;
}

.div-search {
	border: 1px solid #cacaca;;
	border-radius: 13px;
	height: 30px;
}

.tituloReporte {
	text-align: center;
	text-transform: uppercase;
}

.tituloListado {
  font-size: 0.8rem;
  font-family: robotomedium, sans-serif;
  text-align: center;
  color: #fff;
}

.campoListado {
  font-size: 0.8rem;
  font-family: robotoregular, sans-serif;
}

.campoTotal {
  font-size: 0.8rem;
  font-family: robotoblack, sans-serif;
}

.tituloCampoFieldset {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #cacaca;
    font-family: robotoregular, sans-serif;
    font-size: 0.8rem;
    color: #5a5a5a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 6px;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: testfield;
}

.tituloFieldset {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #cacaca;
    font-family: robotobold, sans-serif;
    font-size: 1rem;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 6px;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: testfield;
}

.formInput {
    margin-bottom: -1px;
}

    .formInput span {
        color: #5D615D;
        text-transform: uppercase;
        margin-bottom: 2px;
        display: block;
        font-size: 0.9em;
    }

    .formInput input, .formInput input:focus, .formInput select, .formInput textarea {
        background: rgba(255, 250, 250, 0.2);
        border-radius: 13px;
        box-shadow: none;
        font-size: 0.9em;
    }


textarea {
    border-radius: 13px;
}

.fieldset {
    border: 1px solid #cacaca;
    padding: 0 0.25rem;
    margin: 0 0.2rem;
}

.custom-alert-box {
  @include alert();
}

#ifAplicacion {
  background: url(../../images/background/timbre.jpg);
  background-size: cover;
  /* background: #F3F3F3;  */
  border-radius: 15px;
  overflow-y: auto;
}

.rgba {
  background-color: rgba(240, 240, 240, 0.8);
  min-height: 90%;
  border-radius: 2rem;
}

.contenedor {
  height: 75%;
  overflow-y:auto;
  overflow-x: hidden;
}

.contenedorListado {
  /*height: 200px;*/
  overflow-y:visible;
  overflow-x: hidden;
  padding-top: 0.5rem;
}

.contenedorLogin {
  height: 75%;
  padding: 2rem;
  background: gray;
  overflow-y:auto;
  overflow-x: hidden;
}

.button {
	width: 90%;
	border-radius: 13px;
}

.button-submenu {
	width: 90%;
	padding: 0.85em 1em;
	text-align: center;
	border-radius: 13px;
}

.button-confirm {
  width: 45%;
}

.button-head {
	width: auto;
}

.is-dropdown-submenu > li {
  width: 60%;
}

.textWarning {
  color: #ffae00;
}

.textAlert {
  color: #ec5840;
}

.textSuccess {
  color: #0cb64b;
}

.login {
  height: 2.9rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: robotomedium_italic, sans-serif;
}

.labelLogin {
  height: 2.9rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: robotomedium_italic, sans-serif;
}

.labelValor {
  font-size: 0.85rem;
  font-family: robotomedium_italic, sans-serif;
}

.buttonLogin {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-family: robotomedium_italic, sans-serif;
}

.inline-label {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin-bottom: 0rem;
}

.inputForm {
  height: 2rem;
}

.textareaForm {
  height: 10rem;
}

.iconFa {
  color: #003366;
  /*color: #BB007F;*/
  background-color: white;
  /*background-color: #BB007F;*/
  border-radius: 4px;
  font-size: 2rem;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.iconFaButton {
  color: white;
  background-color: #003366;
  /*background-color: #BB007F;*/
  border-radius: 4px;
  font-size: 2rem;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.iconFaButtonWarning {
  color: white;
  background-color: #F08A24;
  border-radius: 4px;
  font-size: 2rem;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.iconFaButtonAlert {
  color: white;
  background-color: #ec5840;
  border-radius: 4px;
  font-size: 2rem;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.iconFaButtonDark {
  color: white;
  background-color: #232323;
  border-radius: 4px;
  font-size: 2rem;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.iconFaButtonPaginador {
  color: #303F9F;
  /*color: #BB007F;*/
  background-color: white;
  border-radius: 4px;
  font-size: 2rem;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.iconFaActivo {
  color: white;
  background-color: #303F9F;
  /*background-color: #BB007F;*/
  border-radius: 4px;
  font-size: inherit;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.iconFaInactivo {
  color: white;
  background-color: #ec5840;
  /*background-color: #BB007F;*/
  border-radius: 4px;
  font-size: inherit;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}

.top-bar input {
    width: 120px;
    margin-right: 1rem;
}

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #4f4b4b;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.movedown {
    margin: 0 auto;
}

.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5, -5);
    transform: scale(-5, -5);
}

.resize {
    margin: 1% auto;
    width: 0;
    height: 0;
}

.modalmask:target .movedown {
    margin: 5% auto;
}

.modalmask:target .rotate {
    transform: rotate(360deg) scale(1, 1);
    -webkit-transform: rotate(360deg) scale(1, 1);
}

.modalmask:target .resize {
    width: 90%;
    height: 90%;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

.close:hover {
    background: #FAAC58;
    color: #222;
}

.capaLoader {
  padding: 1em 3em;
  margin: 7rem 30%;
}

.column, .columns {
    padding-left: 0.5375rem;
    padding-right: 0.5375rem; 
}


/***********************************
* Clases para el menu
***********************************/

#menuGral {
	width: 15vw;
	overflow-y: auto;
}

#menuGral ul {
	list-style-type: none;
	text-align: center;
}

#menuGral > ul li {
	background: #fff;
}

#menuGral li a {
	display: block;
	text-decoration: none;
	/*line-height: 2.5rem;*/
	height: 3rem;
	color: #fff;
	margin: 0.2em;
	padding: 0.3em 0;
}

#menuGral li ul {
	height: 0;
	overflow: hidden;
}

/* Modificado 13/04/2018 */
#btnMenu{
    display: none;
}
.hiddenResponsive{
    display: none;
}
/* Fin de Modificado 13/04/2018 */

/***********************************
* Fin Clases para el menu
***********************************/

@media screen and (max-width: 1024px) {
    label {
        font-size: 0.6rem;
    }
    .labelValor {
        font-size: 0.7rem;
        font-family: robotomedium_italic, sans-serif;
    }
    /* Modificado 13/04/2018 */
    .hiddenResponsive{
        display: none;
    }
    #divTitulo{
        display: block;
    }
    .visibleResponsive{
        display: block;
    }
    /* Fin de Modificado 13/04/2018 */
}

@media screen and (max-width: 40rem) {
    body {
        overflow: auto;
    }
    .labelValor {
        font-size: 0.2rem;
        font-family: robotomedium_italic, sans-serif;
    }
    .inputForm {
        height: 2em;
    }
    /* Modificado 13/04/2018 */
    .hiddenResponsive{
        display: none;
    }
    #divTitulo{
        display: block;
    }
    .visibleResponsive{
        display: block;
    }
    /* Fin de Modificado 13/04/2018 */
}


/* Modificado 13/04/2018 */
@media screen and (max-width: 700px){
    #ifAplicacion {
        width: 498px;
        height: 620px !important;
    }
    #divRack{
        width: 555px;
        right: 65px;
        position: relative;
        margin-bottom: 38px;
    }
    #divRack ul{
        width: 555px;
        float:right;
        position:fixed;
    }
    #btnMenu{
        display: inline;
        padding: 8px;
        color: white;
        margin-right: 397px;
    }
    #menuPos{
        overflow-y:scroll;
        display: none;
        width:209px;
        left: 15px !important;
        height:350px !important;
        top: 2px !important;
        left: 7px !important;
        position:fixed;
        border-radius: 15px 15px 15px 15px;
        background-color: white;
        transition: all 300ms;
        transition-delay: 500ms;
    }
    #menuGral{
        width: 200px;
        height:410px !important;
        border-radius: 15px 15px 15px 15px;
        transition: all 300ms;
        transition-delay: 500ms;
    }
    #compania{
        margin-left:5px;
        width:486px !important;
        position: fixed;
    }
    #divBody{
        width: 480px !important;
    }
    #divBody .row{
        margin-left: 20px;
    }
    #divBody #capaMantenimiento{
        width:400px;
    }
    #divBody #capaListado{
        width:400px;
    }
    #divTitulo{
        display: none;
    }
    .visibleResponsive{
        display: none;
    }
    .hiddenResponsive{
        display: block;
    }
}

@media screen and (max-width: 400px) {
    #menuPos{
        left: 15px !important;
        top: 65px !important;
        height:555px !important;
    }
    #menuGral{
        height:550px !important;
    }
}
/* Fin de Modificado 13/04/2018 */
